Repository novasolve/ci-auto-rescue, changes with the owners that .github/CODEOWNERS names for each.
All owners: @novasolve/maintainers, @novasolve/core-team, @novasolve/platform-team, @novasolve/devops, @novasolve/docs-team, @novasolve/security-team

feat: Add NOVA_BASE_BRANCH environment variable support
  README.md
  src/nova/tools/git.py
Owners: @novasolve/docs-team, @novasolve/core-team, @novasolve/maintainers

fix: add missing subprocess import and clean up PR logging
  Makefile
  examples/demos/demo_data_structures/{junit_report_path}
  examples/demos/nova-demo-repo/github-workflow-ci.yml
  nova-demo-repo/complete-demo.sh
  nova-demo-repo/demo-exact-flow.sh
  nova-demo-repo/github-workflow-ci.yml
  nova-demo-repo/quick-github-demo.sh
  setup_nova.sh
  src/calculator.py
  src/nova/__pycache__/__init__.cpython-312.pyc
  src/nova/__pycache__/__init__.cpython-313.pyc
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/__pycache__/config.cpython-312.pyc
  src/nova/__pycache__/config.cpython-313.pyc
  src/nova/agent/__pycache__/__init__.cpython-312.pyc
  src/nova/agent/__pycache__/state.cpython-312.pyc
  src/nova/agent/state.py
  src/nova/cli.py
  src/nova/runner/__pycache__/test_runner.cpython-312.pyc
  src/nova/runner/test_runner.py
  src/nova/telemetry/__pycache__/logger.cpython-312.pyc
  src/nova/telemetry/__pycache__/logger.cpython-313.pyc
  src/nova/tools/__pycache__/fs.cpython-312.pyc
  src/nova/tools/__pycache__/fs.cpython-313.pyc
  src/nova/tools/__pycache__/http.cpython-313.pyc
  src/nova/tools/__pycache__/sandbox.cpython-312.pyc
  src/nova/tools/__pycache__/sandbox.cpython-313.pyc
  src/nova_ci_rescue.egg-info/PKG-INFO
  src/nova_ci_rescue.egg-info/SOURCES.txt
  src/nova_ci_rescue.egg-info/requires.txt
  tests/__pycache__/test_passing.cpython-312-pytest-8.4.1.pyc
  tests/__pycache__/test_sample.cpython-312-pytest-8.4.1.pyc
  tests/flask.py
  tests/flask/__init__.py
Owners: @novasolve/maintainers, @novasolve/core-team

fix: prevent duplicate cleanup messages on interrupt
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/tools/git.py
Owners: @novasolve/core-team, @novasolve/maintainers

fix: Improve PR title generation to focus on functionality
  src/nova/tools/pr_generator.py
Owners: @novasolve/core-team, @novasolve/maintainers

fix: Remove redundant subprocess import causing scope error in PR creation
  src/nova/cli.py
Owners: @novasolve/core-team, @novasolve/maintainers

feat: Add GitHub Marketplace support with health endpoints and multi-tenant handling
  fly.toml
  github-app/README.md
  github-app/index.js
  github-app/templates/nova-ci-rescue.yml
  github-app/templates/setup.html
Owners: @novasolve/maintainers, @novasolve/docs-team, @novasolve/platform-team

feat: Production-ready configuration with always-on deployment
  fly.toml
  fly.toml.production
  github-app/DEPLOYMENT.md
  github-app/index.js
Owners: @novasolve/maintainers, @novasolve/docs-team, @novasolve/platform-team

fix: Probot v13 compatibility - use getRouter for custom routes
  github-app/index.js
Owners: @novasolve/platform-team, @novasolve/maintainers

fix: Update fly.toml for older flyctl compatibility
  fly.toml
  github-app/DEPLOYMENT.md
Owners: @novasolve/maintainers, @novasolve/docs-team

feat: Add GitHub auth test to health check and change hostname to nova-ci-rescue
  fly.toml
  fly.toml.production
  github-app/DEPLOYMENT.md
  github-app/index.js
Owners: @novasolve/maintainers, @novasolve/docs-team, @novasolve/platform-team

feat: Add assets directory
  assets/README.md
  assets/logos/nova-ci-rescue-logo-large.png
  assets/logos/nova-ci-rescue-logo.png
  assets/logos/nova-ci-rescue-logo.svg
Owners: @novasolve/docs-team, @novasolve/maintainers

>
  python_repos_outreach_complete.csv
Owners: @novasolve/maintainers

feat: Add GitHub App marketplace-ready features
  docs/TROUBLESHOOTING.md
  fly.toml.production
  github-app/DEPLOYMENT.md
  github-app/README.md
  github-app/templates/nova-ci-rescue.yml
  github-app/templates/setup.html
  smoke_test.sh
Owners: @novasolve/docs-team, @novasolve/maintainers, @novasolve/platform-team

fix: Resolve critical linting issues for CI/CD
  github-app/DEPLOYMENT.md
  github-app/README.md
  github-app/templates/nova-ci-rescue.yml
  personal-demo-repo/.github/workflows/ci.yml
  personal-demo-repo/.github/workflows/nova-ci-rescue.yml
  personal-demo-repo/.nova-ci-rescue.yml
  personal-demo-repo/calculator.py
  personal-demo-repo/pytest.ini
  personal-demo-repo/requirements.txt
  personal-demo-repo/test_calculator.py
  src/nova/agent/llm_agent_enhanced.py
  src/nova/agent/llm_client.py
  src/nova/agent/llm_client_complete_fix.py
  src/nova/agent/mock_llm.py
  src/nova/cli.py
  src/nova/tools/git.py
  src/nova/tools/pr_generator.py
Owners: @novasolve/docs-team, @novasolve/platform-team, @novasolve/maintainers, @novasolve/core-team

cleanup: Remove personal-demo-repo from PR
  personal-demo-repo/.github/workflows/ci.yml
  personal-demo-repo/.github/workflows/nova-ci-rescue.yml
  personal-demo-repo/.nova-ci-rescue.yml
  personal-demo-repo/calculator.py
  personal-demo-repo/pytest.ini
  personal-demo-repo/requirements.txt
  personal-demo-repo/test_calculator.py
Owners: @novasolve/maintainers

feat: Add Grok LLM support and clean up logging
  personal-demo-repo/.github/workflows/ci.yml
  personal-demo-repo/.github/workflows/nova-ci-rescue.yml
  personal-demo-repo/.nova-ci-rescue.yml
  personal-demo-repo/calculator.py
  personal-demo-repo/pytest.ini
  personal-demo-repo/requirements.txt
  personal-demo-repo/test_calculator.py
  personal-demo-repo/test_nova_workflow.sh
  src/nova/__pycache__/__init__.cpython-312.pyc
  src/nova/__pycache__/config.cpython-312.pyc
  src/nova/agent/__pycache__/__init__.cpython-312.pyc
  src/nova/agent/__pycache__/state.cpython-312.pyc
  src/nova/agent/llm_agent_enhanced.py
  src/nova/agent/llm_client.py
  src/nova/cli.py
Owners: @novasolve/maintainers, @novasolve/core-team

cleanup: Remove personal-demo-repo from PR (final cleanup)
  personal-demo-repo/.github/workflows/ci.yml
  personal-demo-repo/.github/workflows/nova-ci-rescue.yml
  personal-demo-repo/.nova-ci-rescue.yml
  personal-demo-repo/calculator.py
  personal-demo-repo/pytest.ini
  personal-demo-repo/requirements.txt
  personal-demo-repo/test_calculator.py
  personal-demo-repo/test_nova_workflow.sh
Owners: @novasolve/maintainers

feat: Add safety limits module with increased thresholds
  src/nova/tools/safety_limits.py
Owners: @novasolve/core-team, @novasolve/maintainers

fix: Apply pre-commit formatting fixes
  src/calculator.py
  src/nova/agent/llm_agent.py
  src/nova/agent/llm_client_complete_fix.py
  src/nova/agent/llm_client_fixed.py
  src/nova/agent/mock_llm.py
  src/nova/agent/state.py
  src/nova/cli.py
  src/nova/nodes/__init__.py
  src/nova/nodes/actor.py
  src/nova/nodes/apply_patch.py
  src/nova/nodes/critic.py
  src/nova/nodes/planner.py
  src/nova/nodes/reflect.py
  src/nova/nodes/run_tests.py
  src/nova/telemetry/logger.py
  src/nova/tools/fs.py
  src/nova/tools/git.py
  src/nova/tools/http.py
  src/nova/tools/lock.py
  src/nova/tools/patch_fixer.py
  src/nova/tools/pr_generator.py
  src/string_utils.py
  tests/test_patch_fix.py
  tests/test_pr_generation.py
  tests/test_string_utils.py
Owners: @novasolve/core-team, @novasolve/maintainers

fix: address Copilot AI code review issues
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/__pycache__/config.cpython-312.pyc
  src/nova/cli.py
  src/nova/tools/pr_generator.py
  tests/flask/__init__.py
Owners: @novasolve/core-team, @novasolve/maintainers

fix: address remaining Copilot AI code review issues
  .github/workflows/nova-ci-rescue.yml
  README.md
  examples/demos/algorithmic_challenges/src/algorithms.py
  fly.toml
  fly.toml.production
  github-app/DEPLOYMENT.md
  github-app/README.md
  github-app/index.js
  github-app/templates/nova-ci-rescue.yml
  github-app/templates/setup.html
  pyproject.toml
  smoke_test.sh
  src/nova/__init__.py
  src/nova/agent/llm_agent.py
  src/nova/agent/llm_client.py
  src/nova/agent/llm_client_complete_fix.py
  src/nova/agent/mock_llm.py
  src/nova/cli.py
  src/nova/config.py
  src/nova/nodes/planner.py
  src/nova/runner/test_runner.py
  src/nova/tools/git.py
  src/nova/tools/pr_generator.py
  src/nova/tools/safety_limits.py
  tests/flask.py
  tests/flask/__init__.py
  tests/test_string_utils.py
Owners: @novasolve/devops, @novasolve/maintainers, @novasolve/docs-team, @novasolve/platform-team, @novasolve/core-team

Remove nova-basic-test job from CI workflow
  .github/workflows/nova-demo-ci.yml
  src/nova/cli.py
  src/nova/runner/test_runner.py
  src/nova/tools/safety_limits.py
Owners: @novasolve/devops, @novasolve/maintainers, @novasolve/core-team

Remove nova-verbose-test job from CI workflow
  .github/workflows/nova-demo-ci.yml
Owners: @novasolve/devops, @novasolve/maintainers

fix: resolve syntax errors in multiple files
  examples/demos/demo_imports/imports.py
  examples/demos/demo_math_ops/test_math_ops.py
  examples/demos/demo_oop/test_oop_classes.py
  examples/demos/demo_string_ops/test_string_ops.py
  examples/demos/demo_type_hints/test_type_hints.py
  src/nova/agent/llm_client.py
  src/nova/cli.py
  src/nova/runner/test_runner.py
  src/nova/tools/safety_limits.py
Owners: @novasolve/maintainers, @novasolve/core-team

Disable bandit security scan to fix CI pipeline
  .github/workflows/security.yml
  scripts/check_github_token.py
  src/nova/agent/llm_client.py
  src/nova/cli.py
  src/nova/runner/test_runner.py
  src/nova/tools/git.py
  src/nova/tools/patch_fixer.py
  src/nova/tools/safety_limits.py
  tests/test_patch_fix.py
  tests/test_sample.py
Owners: @novasolve/devops, @novasolve/maintainers, @novasolve/core-team

fix: resolve syntax errors and complete linting fixes
  .github/workflows/publish-both.yml
  examples/demos/demo_imports/imports.py
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/agent/llm_client.py
  src/nova/cli.py
  src/nova/runner/test_runner.py
  src/nova/tools/git.py
  src/nova/tools/safety_limits.py
Owners: @novasolve/devops, @novasolve/maintainers, @novasolve/core-team

style: improve code formatting and style consistency
  .github/workflows/publish-both.yml
  examples/demos/scripts/demo_visual.py
  fly.toml
  github-app/templates/nova-ci-rescue.yml
  src/nova/cli.py
  src/nova/tools/patch_fixer.py
Owners: @novasolve/devops, @novasolve/maintainers, @novasolve/platform-team, @novasolve/core-team

fix: remove duplicate test calls in test_string_utils.py
  tests/test_string_utils.py
Owners: @novasolve/maintainers

fix: complete bug fixes and code cleanup
  github-app/index.js
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/cli.py
  src/nova/runner/__pycache__/test_runner.cpython-312.pyc
  src/nova/runner/test_runner.py
  tests/test_patch_fix.py
Owners: @novasolve/platform-team, @novasolve/maintainers, @novasolve/core-team

fix: complete CI lint setup and resolve final syntax errors
  github-app/index.js
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/cli.py
Owners: @novasolve/platform-team, @novasolve/maintainers, @novasolve/core-team

feat: enhance CLI with improved formatting and installation validation
  INSTALLATION_VALIDATION_README.md
  github-app/index.js
  src/nova/cli.py
Owners: @novasolve/docs-team, @novasolve/platform-team, @novasolve/maintainers, @novasolve/core-team

fix: comprehensive linting fixes
  smoke_test.sh
  src/nova/__pycache__/__init__.cpython-312.pyc
  src/nova/__pycache__/cli.cpython-312.pyc
  src/nova/__pycache__/config.cpython-312.pyc
  src/nova/agent/__pycache__/__init__.cpython-312.pyc
  src/nova/agent/__pycache__/state.cpython-312.pyc
  src/nova/agent/llm_agent_enhanced.py
  src/nova/agent/llm_client.py
  src/nova/agent/llm_client_fixed.py
  src/nova/agent/state.py
  src/nova/cli.py
  src/nova/cli.py.backup
  src/nova/config.py
  src/nova/logger.py
  src/nova/nodes/__init__.py
  src/nova/nodes/actor.py
  src/nova/nodes/apply_patch.py
  src/nova/nodes/critic.py
  src/nova/nodes/reflect.py
  src/nova/nodes/run_tests.py
  src/nova/runner/__init__.py
  src/nova/runner/__pycache__/test_runner.cpython-312.pyc
  src/nova/runner/test_runner.py
  src/nova/telemetry/__pycache__/logger.cpython-312.pyc
  src/nova/tools/datetime_utils.py
  src/nova/tools/fs.py
  src/nova/tools/git.py
  src/nova/tools/lock.py
  src/nova/tools/safety_limits.py
  src/nova/tools/test_pr.py
  tests/nova_smoke_test.py
  tests/test_calculator.py
  tests/test_invalid_inputs.py
  tests/test_patch_fix.py
  tests/test_percentage_negative.py
  tests/test_string_utils.py
Owners: @novasolve/maintainers, @novasolve/core-team

.github/CODEOWNERS:

# This file defines code ownership for automatic review assignment.
# Each line is a file pattern followed by one or more owners.

# Global owners (fallback)
* @novasolve/maintainers

# Core library code
/src/** @novasolve/core-team @novasolve/maintainers

# GitHub App integration
/github-app/** @novasolve/platform-team @novasolve/maintainers

# CI/CD workflows
/.github/workflows/ @novasolve/devops @novasolve/maintainers

# Documentation
/docs/ @novasolve/docs-team
*.md @novasolve/docs-team

# Security-sensitive files
/SECURITY.md @novasolve/security-team @novasolve/maintainers
/.github/CODEOWNERS @novasolve/maintainers

# Package configuration
/pyproject.toml @novasolve/maintainers
/setup.py @novasolve/maintainers
/requirements*.txt @novasolve/maintainers
